@reference 'tailwindcss';

.button {
    @apply inline-flex justify-center items-center cursor-pointer;
    @apply bg-purple-600 text-white transition-colors duration-300 ease-in-out;
    @apply px-6 py-3 rounded-full shadow-md;
    @apply font-bold text-sm uppercase;
    @apply not-disabled:cursor-pointer not-disabled:hover:bg-purple-800 select-none;
    @apply disabled:cursor-not-allowed disabled:bg-slate-300 disabled:text-slate-600;
}