@reference 'tailwindcss';

.button {

    @apply block aspect-square w-[40px] rounded-full border-0 p-0 bg-blue-300 transition-colors duration-300 ease-in-out;

    &.active {
        @apply bg-blue-800
    }

    &:not(.active){
        @apply cursor-pointer hover:bg-blue-600;
    }
}