@reference 'tailwindcss';

.title {
    @apply text-center text-2xl font-semibold mb-4 text-gray-800;
}

.description {
    @apply text-sm leading-6 text-center text-gray-500 max-w-[400px] mx-auto;
}

.footer {
    @apply mt-8;
}